@charset "UTF-8";
/* Noto Serif JP Regular, Medium, SemiBold をインポート */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600&display=swap");
/* Marcellus フォントをインポート */
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
/* EB Garamond フォントをインポート */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
/* 共通 */
body {
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #333;
}

a {
  text-decoration: none;
  color: #FFF;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* 変数 */
/* メインビジュアル */
.cover {
  background-image: url("/assets/images/main_visual_sp.jpg");
  background-size: 100vw;
}
@media screen and (min-width: 768px) {
  .cover {
    background-image: url("/assets/images/main_visual_pc.jpg");
  }
}
.cover__link {
  width: 35.8974358974vw;
  display: block;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .cover__link {
    width: 13.5833333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .cover__link {
    width: 10.1875rem;
  }
}
.cover__container {
  height: 134.1025641026vw;
  padding: 4.8717948718vw 0 0 0;
}
@media screen and (min-width: 768px) {
  .cover__container {
    height: 60vw;
    padding: 3.0833333333vw 0 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .cover__container {
    height: 45rem;
    padding: 2.3125rem 0 0 0;
  }
}
.cover__image-content {
  text-align: center;
}
.cover__image {
  width: 100%;
}
.cover__title {
  padding: 0 0 0 5.8974358974vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media screen and (min-width: 768px) {
  .cover__title {
    justify-content: center;
    padding: 0 0 8.3333333333vw 19.1666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .cover__title {
    justify-content: center;
    padding: 0 0 6.25rem 14.375rem;
  }
}
.cover__title--english {
  font-size: 10.5128205128vw;
  font-family: "Marcellus", serif;
  letter-spacing: 3.0769230769vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .cover__title--english {
    font-size: 4.1666666667vw;
    letter-spacing: 1vw;
  }
}
@media screen and (min-width: 1200px) {
  .cover__title--english {
    font-size: 3.125rem;
    letter-spacing: 0.75rem;
  }
}
.cover__title--japanese {
  letter-spacing: 1.5384615385vw;
  padding: 3.3333333333vw 0 0 0;
  font-size: 5.1282051282vw;
  font-weight: normal;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .cover__title--japanese {
    font-size: 2.0833333333vw;
    letter-spacing: 0.5vw;
  }
}
@media screen and (min-width: 1200px) {
  .cover__title--japanese {
    font-size: 1.5625rem;
    letter-spacing: 0.375rem;
  }
}

/* 申し込み */
.action {
  font-size: 4.6153846154vw;
}
.action-cover-next {
  padding: 19.7435897436vw 0 12.8205128205vw 0;
}
@media screen and (min-width: 768px) {
  .action-cover-next {
    padding: 4vw 4vw 4.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .action-cover-next {
    padding: 3rem 3rem 3.5rem;
  }
}
.action-faq-next {
  padding: 12.8205128205vw 0 0 0;
}
@media screen and (min-width: 768px) {
  .action-faq-next {
    padding: 4vw 0 0.8333333333vw 0;
  }
}
@media screen and (min-width: 1200px) {
  .action-faq-next {
    padding: 3rem 0 0.625rem 0;
  }
}
.action__container {
  padding: 6.1538461538vw 7.4358974359vw 7.9487179487vw 7.4358974359vw;
  background-color: #F0F4FF;
  text-align: center;
  width: 91.7948717949vw;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .action__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.6666666667vw 2.4166666667vw 1.6666666667vw 0.3833333333vw;
    width: 83.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .action__container {
    padding: 2rem 1.8125rem 1.25rem 0.2875rem;
    width: 62.5rem;
  }
}
.action__title {
  font-size: 4.6153846154vw;
  padding-bottom: 1.7692307692vw;
}
@media screen and (min-width: 768px) {
  .action__title {
    font-size: 2vw;
    text-align: left;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .action__title {
    font-size: 1.5rem;
    text-align: left;
  }
}
.action__price {
  font-size: 3.5897435897vw;
  padding: 3.0769230769vw 0 5.3846153846vw;
}
@media screen and (min-width: 768px) {
  .action__price {
    font-size: 1.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .action__price {
    font-size: 1rem;
  }
}
.action__price--4000 {
  font-size: 3.5897435897vw;
}
@media screen and (min-width: 768px) {
  .action__price--4000 {
    font-size: 1.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .action__price--4000 {
    font-size: 1rem;
  }
}
.action__btn {
  display: block;
  color: #FFF;
  border-radius: 8.7179487179vw;
  padding: 3.8461538462vw 0;
}
@media screen and (min-width: 768px) {
  .action__btn {
    font-size: 1.5vw;
    width: 25vw;
    padding: 1.25vw 0;
  }
}
@media screen and (min-width: 1200px) {
  .action__btn {
    font-size: 1.125rem;
    width: 18.75rem;
    padding: 0.9375rem 0;
  }
}
@media screen and (min-width: 768px) {
  .action__price-content {
    font-size: 1.5vw;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .action__price-content {
    font-size: 1.125rem;
  }
}
.action__btn--online {
  background-color: #46C4DB;
  border: 1px solid #46C4DB;
  margin-bottom: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .action__btn--online {
    margin-bottom: 0;
  }
}
.action__btn--online:hover {
  background-color: #FFF;
  color: #46C4DB;
}
.action__btn--buy {
  background-color: #5DD5AB;
  border: 1px solid #5DD5AB;
  width: 100%;
}
.action__btn--buy:hover {
  background-color: #FFF;
  color: #5DD5AB;
}
@media screen and (min-width: 768px) {
  .action__form {
    width: 25vw;
  }
}
@media screen and (min-width: 1200px) {
  .action__form {
    width: 18.75rem;
  }
}

/* 商品説明 */
.features {
  background-image: url("/assets/images/keep_your_skin_sp.jpg");
  background-size: 100vw;
  padding: 11.0256410256vw 4.1025641026vw 0 3.8461538462vw;
  color: #FFF;
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    justify-content: end;
    background-image: url("/assets/images/keep_your_skin_pc.jpg");
    padding: 5.4166666667vw 17vw 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding: 4.0625rem 12.75rem 0 0;
  }
}
.features__container {
  height: 174.358974359vw;
}
@media screen and (min-width: 768px) {
  .features__container {
    width: 38.9166666667vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45.8333333333vw;
    padding: 5vw 4.5vw 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__container {
    width: 29.1875rem;
    height: 34.375rem;
    padding: 3.75rem 3.375rem 0 0;
  }
}
.features__title {
  padding-bottom: 4.8717948718vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    padding-bottom: 0;
  }
}
.features__title-english {
  font-size: 7.6923076923vw;
  font-family: "EB Garamond", serif;
  letter-spacing: 0.3076923077vw;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .features__title-english {
    font-size: 3.1666666667vw;
    letter-spacing: 1.4;
  }
}
@media screen and (min-width: 1200px) {
  .features__title-english {
    font-size: 2.375rem;
    letter-spacing: 1.4;
  }
}
.features__title-japanese {
  line-height: 1.3;
  text-align: center;
  font-size: 6.1538461538vw;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .features__title-japanese {
    font-size: 2vw;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features__title-japanese {
    font-size: 1.5rem;
  }
}
.features__description {
  font-size: 3.5897435897vw;
  line-height: 2.28;
}
@media screen and (min-width: 768px) {
  .features__description {
    font-size: 1.1666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .features__description {
    font-size: 0.875rem;
  }
}

/* お客様の声 */
.reviews {
  padding: 0 0 19.2307692308vw 0;
  line-height: 1.7;
  /* ドットの基本スタイル */
}
@media screen and (min-width: 768px) {
  .reviews {
    padding: 0 0 9.1666666667vw 0;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding: 0 0 6.875rem 0;
  }
}
.reviews .is-active {
  display: block;
}
.reviews__container {
  width: 91.7948717949vw;
  margin-inline: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reviews__container {
    width: 96.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__container {
    width: 72.25rem;
  }
}
.reviews__title {
  padding-bottom: 10vw;
}
@media screen and (min-width: 768px) {
  .reviews__title {
    padding-bottom: 3.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__title {
    padding-bottom: 2.75rem;
  }
}
.reviews__title-english {
  font-size: 7.6923076923vw;
  font-family: "EB Garamond", serif;
  letter-spacing: 0.5128205128vw;
}
@media screen and (min-width: 768px) {
  .reviews__title-english {
    font-size: 3.75vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__title-english {
    font-size: 2.8125rem;
  }
}
.reviews__title-japanese {
  font-size: 4.1025641026vw;
  font-weight: normal;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .reviews__title-japanese {
    font-size: 1.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__title-japanese {
    font-size: 1.25rem;
  }
}
.reviews__name {
  font-size: 3.5897435897vw;
  padding: 3.0769230769vw 0 2.3076923077vw 0;
}
@media screen and (min-width: 768px) {
  .reviews__name {
    font-size: 1.25vw;
    padding: 1vw 0 1.4166666667vw 0;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__name {
    font-size: 0.9375rem;
    padding: 0.75rem 0 1.0625rem 0;
  }
}
.reviews__customer-icon {
  width: 100%;
  max-width: 20.5128205128vw;
}
.reviews__items {
  max-width: 100vw; /* スマホサイズに合わせてお好みで */
}
@media screen and (min-width: 768px) {
  .reviews__items {
    max-width: 96.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__items {
    max-width: 72.25rem;
  }
}
.reviews__item {
  background-color: #DBF7F9;
  padding: 4.1025641026vw 3.0769230769vw 4.1025641026vw 4.1025641026vw;
  display: none;
  box-sizing: border-box;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .reviews__item {
    width: 25vw;
    padding-top: 3.5833333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__item {
    width: 18.75rem;
    padding-top: 2.6875rem;
  }
}
.reviews__arrow--left {
  padding-right: 1.7948717949vw;
}
.reviews__arrow--right {
  padding-left: 1.7948717949vw;
}
.reviews__customer-icon {
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .reviews__customer-icon {
    width: 8.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__customer-icon {
    width: 6.25rem;
  }
}
.reviews__review {
  font-size: 3.5897435897vw;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .reviews__review {
    font-size: 1.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__review {
    font-size: 1rem;
  }
}
.reviews__dots {
  margin-top: 4.1025641026vw;
  display: flex;
  justify-content: center;
  gap: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .reviews__dots {
    margin-top: 1.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__dots {
    margin-top: 1rem;
  }
}
.reviews__dot {
  width: 2.3076923077vw;
  height: 2.3076923077vw;
  border-radius: 50%;
  background-color: #ccc;
  display: block;
  margin: 0 1.0256410256vw;
  cursor: pointer;
  transition: background-color 0.3s;
}
@media screen and (min-width: 768px) {
  .reviews__dot {
    width: 0.75vw;
    height: 0.75vw;
    margin: 0 0.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__dot {
    width: 0.5625rem;
    height: 0.5625rem;
    margin: 0 0.25rem;
  }
}
@media screen and (min-width: 768px) {
  .reviews__items {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .reviews__items .slick-slide {
    margin: 0 0.8333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__items .slick-slide {
    margin: 0 0.625rem;
  }
}
.slick-active .reviews__dot {
  background-color: #00AFBF;
}
.reviews .slick-track {
  height: 87.1794871795vw;
}
@media screen and (min-width: 768px) {
  .reviews .slick-track {
    height: 32.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .slick-track {
    height: 24.25rem;
  }
}
.reviews .slick-slider {
  display: flex;
  position: relative;
  align-items: center;
}
.reviews__arrow--left, .reviews__arrow--right {
  width: 10.2564102564vw;
  height: 10.2564102564vw;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .reviews__arrow--left, .reviews__arrow--right {
    width: 4.5833333333vw;
    height: 4.5833333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__arrow--left, .reviews__arrow--right {
    width: 3.4375rem;
    height: 3.4375rem;
  }
}
.reviews .slick-dots {
  position: absolute;
  bottom: -10%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
}

/* Q&A */
.faq {
  background: linear-gradient(to right, #F4FFE8, #C6F0FE);
}
.faq__container {
  padding: 6.9230769231vw 3.7179487179vw 2.3076923077vw;
}
@media screen and (min-width: 768px) {
  .faq__container {
    width: 50vw;
    margin-inline: auto;
    padding: 3.3333333333vw 0;
  }
}
@media screen and (min-width: 1200px) {
  .faq__container {
    width: 37.5rem;
    padding: 2.5rem 0;
  }
}
.faq__title {
  text-align: center;
  padding-bottom: 8.0256410256vw;
  font-family: "EB Garamond", serif;
}
@media screen and (min-width: 768px) {
  .faq__title {
    padding-bottom: 3.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .faq__title {
    padding-bottom: 2.75rem;
  }
}
.faq__title-english {
  font-size: 7.6923076923vw;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .faq__title-english {
    font-size: 3.75vw;
  }
}
@media screen and (min-width: 1200px) {
  .faq__title-english {
    font-size: 2.8125rem;
  }
}
.faq__title-japanese {
  font-size: 4.1025641026vw;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .faq__title-japanese {
    font-size: 1.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .faq__title-japanese {
    font-size: 1.25rem;
  }
}
.faq__question {
  display: flex;
}
.faq__text {
  display: block;
}
.faq__text--q {
  font-size: 4.1025641026vw;
  font-family: "EB Garamond", serif;
  padding: 0 0.0256410256vw 4.358974359vw 0;
}
@media screen and (min-width: 768px) {
  .faq__text--q {
    font-size: 1.5vw;
    padding: 0 1.3333333333vw 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .faq__text--q {
    font-size: 1.125rem;
    padding: 0 1rem 0 0;
  }
}
.faq__text--a {
  font-size: 3.8461538462vw;
  padding: 0 3.3333333333vw 0 0;
}
@media screen and (min-width: 768px) {
  .faq__text--a {
    font-size: 1.25vw;
    padding: 0 1.3333333333vw 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .faq__text--a {
    font-size: 0.9375rem;
    padding: 0 1rem 0 0;
  }
}
.faq__text--question {
  font-size: 3.8461538462vw;
}
@media screen and (min-width: 768px) {
  .faq__text--question {
    font-size: 1.25vw;
  }
}
@media screen and (min-width: 1200px) {
  .faq__text--question {
    font-size: 0.9375rem;
  }
}
.faq__text--answer {
  font-size: 3.8461538462vw;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .faq__text--answer {
    font-size: 1.25vw;
  }
}
@media screen and (min-width: 1200px) {
  .faq__text--answer {
    font-size: 0.9375rem;
  }
}
.faq__accordion {
  width: 100%;
  padding-bottom: 7.4358974359vw;
}
@media screen and (min-width: 768px) {
  .faq__accordion {
    padding-bottom: 2.4166666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .faq__accordion {
    padding-bottom: 1.8125rem;
  }
}
.faq__accordion-trigger {
  width: 100%;
  padding: 2.3076923077vw 4.1025641026vw 4.8717948718vw 5.3846153846vw;
  display: flex;
  align-items: center;
  background: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}
@media screen and (min-width: 768px) {
  .faq__accordion-trigger {
    padding: 0.75vw 1.3333333333vw 1.5833333333vw 1.75vw;
  }
}
@media screen and (min-width: 1200px) {
  .faq__accordion-trigger {
    padding: 0.5625rem 1rem 1.1875rem 1.3125rem;
  }
}
.faq__accordion-trigger:hover {
  background-color: #f8fafc;
}
.faq__accordion-icon {
  transition: transform 0.5s;
  margin-left: auto;
}
.faq__accordion-trigger[aria-expanded=true] .faq__accordion-icon {
  transform: rotate(180deg);
}
.faq__accordion-content {
  max-height: 0;
  display: flex;
  overflow: hidden;
  background-color: #FFF;
  transition: max-height 0.5s ease-in-out;
}
.faq__accordion-content.open {
  max-height: 89.7435897436vw;
}
@media screen and (min-width: 768px) {
  .faq__accordion-content.open {
    max-height: 29.1666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .faq__accordion-content.open {
    max-height: 21.875rem;
  }
}
.faq__accordion-body {
  padding: 0.1538461538vw 5.1282051282vw 8.9743589744vw 4.1025641026vw;
  display: flex;
}
@media screen and (min-width: 768px) {
  .faq__accordion-body {
    padding: 0.05vw 1.6666666667vw 2.9166666667vw 1.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .faq__accordion-body {
    padding: 0.0375rem 1.25rem 2.1875rem 1rem;
  }
}

/* フッター */
.footer {
  color: #FFF;
  text-align: center;
  background-color: #0071CE;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2.5833333333vw 0 2.8333333333vw 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 1.9375rem 0 2.125rem 0;
  }
}
.footer__link {
  display: block;
  width: 41.7948717949vw;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .footer__link {
    width: 15.5vw;
  }
}
@media screen and (min-width: 1200px) {
  .footer__link {
    width: 11.625rem;
  }
}
.footer__logo {
  width: 100%;
}
.footer__container {
  padding: 7.4358974359vw 0 6.1538461538vw 0;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }
}
.footer__nav-list {
  display: flex;
  justify-content: space-evenly;
  padding: 5.2307692308vw 1.2051282051vw 5.5897435897vw 0;
}
@media screen and (min-width: 768px) {
  .footer__nav-list {
    padding: 0;
  }
}
.footer__nav-link {
  font-size: 3.0769230769vw;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .footer__nav-link {
    font-size: 1.1666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .footer__nav-link {
    font-size: 0.875rem;
  }
}
.footer__nav-link:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .footer__nav-item {
    padding: 0 2.6666666667vw 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__nav-item {
    padding: 0 2rem 0 0;
  }
}
.footer__copyright {
  font-size: 2.8205128205vw;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1vw;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright {
    font-size: 0.75rem;
  }
}

.pagetop {
  cursor: pointer;
  position: sticky;
  bottom: 0.2564102564vw;
  left: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.2564102564vw;
  height: 10.2564102564vw;
  transition: 0.3s;
  color: #00A6C4;
  background: #0071CE;
  border: 1px solid #0071CE;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .pagetop {
    width: 3.3333333333vw;
    height: 3.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .pagetop {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.pagetop:hover {
  opacity: 0.1;
}/*# sourceMappingURL=main.css.map */