//-----------------------------------------------------
// scss: 変数設定
//-----------------------------------------------------

// カンプ / コンテンツ幅の指定
$sp-full-width: 390;    // スマホ用のカンプ幅
$pc-full-width: 1500;    // PC用のカンプ幅
$pc-content-width: 1200; // PC用のカンプのコンテンツ幅(ガイド線の幅)

// ブレークポイント設定
// スマホ: 
//    0px ~ 768px未満 -> スマホ用のカンプをベースにvwで実装
// タブレット: 
//    768px ~ PCコンテンツ幅未満 -> PC用のカンプをベースにvwで実装。予算の多い案件ではタブレット用のカンプが提供される場合もある。
// PC: 
//    PCコンテンツ幅以上 -> PC用のカンプをベースにpx(rem)で実装
$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

// 本番用か否か？本番用の場合は1にする。
// 0の場合はpxで出力される。パーフェクトピクセルで合わせる時に便利。
$production: 1;

//-----------------------------------------------------
//    scss: ブレークポイント関数
//-----------------------------------------------------

$breakpoints: (
    "md": "screen and (min-width: #{$breakpoint-md}px)",
    "lg": "screen and (min-width: #{$breakpoint-lg}px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

//-----------------------------------------------------
//    scss: 変換関数群
//-----------------------------------------------------

// SP用: vwへの変換
@function vw($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $sp-full-width);
}

// タブレット用: vwへの変換
@function vwt($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-content-width);
}

// PC用: pxをremに変換
@function px2Rem($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px / 16) * 1rem;
}

// PC用: pxをvwに変換
// ヘッダーなどコンテンツ幅ベースではなくかんぷ幅ベースでvwを使いたい場合に使用。
// あまり使わない。
@function vwp($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-full-width);
}

/* 共通 */
body {
    margin: 0 auto;
    font-family: 'Noto Serif JP', serif;
    line-height: 1.75;
    color: #333;
}

main {
    width: 100%;
}

a {
    text-decoration: none;
    color: #FFF;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

// 変数
@mixin d-flex-justify-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin d-flex-flex-direction {
    display: flex;
    flex-direction: column;
}

/* メインビジュアル */
.cover {
    background-image:  url("/assets/image/main_visual_sp.jpg");
    background-size: 100%;
    background-position: top center;
    height: vw(548);
    padding: vw(19) 0 vw(58) 0;

    @include mq() {
        background-image:  url("/assets/image/main_visual_pc.jpg");
        background-size: cover;
        background-position: center center;
        height: vwt(720);
        padding: vwt(30.6) 0 0 0;
    }
    @include mq(lg) {
        height: px2Rem(720);
        padding: px2Rem(30.6) 0 0 0;
    }

    &__container {
        max-width: 1200px;
        margin-inline: auto;
    }

    &__link {
        width: vw(140);
        display: block;
        margin-inline: auto;
        @include mq() {
            width: vwt(163);
        }
        @include mq(lg) {
            width: px2Rem(163);
        }
    }

    &__image-content {
        text-align: center;
    }

    &__image {
        width: 100%;
        @include mq() {
            padding-right: vwt(3.1);
        }
        @include mq(lg) {
            padding-right: px2Rem(3.1);
        }
    }

    &__title {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: vw(372) 0 0 vw(23);

        @include mq() {
            margin: vwt(211.6) 0 0 vwt(73.4);
        }
        @include mq(lg) {
            margin: px2Rem(211.6) 0 0 px2Rem(73.4);
        }
    }

    &__title--english {
        font-size: vw(41);
        font-family: 'Marcellus', serif;
        letter-spacing: 0.3em;
        font-weight: normal;
        line-height: 1.24390243902;
        width: vw(246);
        margin-bottom: vw(4.54);

        @include mq() {
            font-size: vwt(50);
            letter-spacing: vwt(14.7);
            width: vwt(364);
            margin-bottom: 0;
            line-height: 1.36;
        }
        @include mq(lg) {
            font-size: px2Rem(50);
            letter-spacing: px2Rem(14.7);
            width: px2Rem(364);
        }
    }

    &__title--japanese {
        letter-spacing: vw(6);
        font-size: vw(20);
        font-weight: normal;
        line-height: 1.2;
        margin-left: vw(23);
        @include mq() {
            font-size: vwt(25);
            letter-spacing: vwt(7.32);
            margin-left: vwt(73.4);
            margin-top: vwt(2.2);
        }
        @include mq(lg) {
            font-size: px2Rem(25);
            letter-spacing: px2Rem(7.32);
            margin-left: px2Rem(73.4);
            margin-top: px2Rem(2.2);
        }
    }
}

/* 申し込みエリア */
.action {
    font-size: vw(18);
    &--cover-next {
        padding: vw(58.78) 0 vw(50) 0;
        @include mq() {
            padding: vwt(48) 0 vwt(48) 0;
        }
        @include mq(lg) {
            padding: px2Rem(48) 0 px2Rem(48) 0;
        }
    }

    &--faq-next {
        margin: 0 0 vw(9.95) 0;

        @include mq() {
            margin: 0 0 vwt(8.27) 0;
        }
        @include mq(lg) {
            margin: 0 0 px2Rem(8.27) 0;
        }
    }
    
    &__container {
        background-color: #F0F4FF;
        text-align: center;
        width: vw(358);
        margin-inline: auto;
        padding: vw(21.17) vw(28) vw(35);
        @include mq() {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: vwt(1000);
            height: vwt(146);
            padding: vwt(41.6) vwt(40) vwt(41) vwt(37.2);
        }
        @include mq(lg) {
            width: px2Rem(1000);
            padding: px2Rem(41.6) px2Rem(40) px2Rem(41) px2Rem(37.2);
            height: px2Rem(146);
        }
    }

    &__content {
        @include mq() {
            margin-right: vwt(50.7);
        }
        @include mq(lg) {
            margin-right: px2Rem(50.7);
        }
    }

    &__item--name {
        font-size: vw(18);
        margin-bottom: vw(6.9);
        line-height: 1.22222222222;
        letter-spacing: vw(1.3);
        font-weight: 600;
        @include mq() {
            font-size: vwt(24);
            text-align: left;
            margin: 0;
            letter-spacing: vwt(2.2);
        }
        @include mq(lg) {
            font-size: px2Rem(24);
            text-align: left;
            letter-spacing: px2Rem(2.2);
        }
    }

    &__item--price {
        font-size: vw(14);
        margin: vw(10) 0 vw(21);
        line-height: 1.21428571429;
        letter-spacing: 1.3px;
        @include mq() {
            font-size: vwt(16);
            margin: vwt(11.1615) 0 0 0;
            text-align: left;
        }
        @include mq(lg) {
            font-size: px2Rem(16);
            margin: px2Rem(11.1615) 0 0 0;
        }
    }
    &__price {
        margin-right: vw(5.1);
        @include mq() {
            margin-right: vwt(5.1);
        }
        @include mq(lg) {
            margin-right: px2Rem(5.1);
        }
    }

    &__btn {
        display: block;
        color: #FFF;
        border-radius: vw(34);
        padding: vw(12) 0;
        @include mq() {
            font-size: vwt(18);
            width: vwt(300);
            padding: vwt(13.4) 0;
        }
        @include mq(lg) {
            font-size: px2Rem(18);
            width: px2Rem(300);
            padding: px2Rem(13.4) 0;
        }
    }

    &__price-content {
        @include mq() {
            font-size: vwt(18);
            display: flex;
        }
        @include mq(lg) {
            font-size: px2Rem(18);
        }
    }

    &__btn--online {
        background-color: #46C4DB;
        border: 1px solid #46C4DB;
        margin-bottom: vw(20);
        @include mq() {
            margin: 0 vwt(20) 0 0;
        }
        @include mq(lg) {
            margin: 0 px2Rem(20) 0 0;
        }
    }

    &__btn--online:hover {
        background-color: #FFF;
        color: #46C4DB;
    }

    &__btn--buy {
        background-color: #5DD5AB;
        border: 1px solid #5DD5AB;
        width: 100%;
    }
    &__btn--buy:hover {
        background-color: #FFF;
        color: #5DD5AB;
    }

    &__form {
        @include mq() {
            width: vwt(300);
        }
        @include mq(lg) {
            width: px2Rem(300);
        }
    }
}

/* 商品説明 */
.features {
    background-image:  url("/assets/image/keep_your_skin_sp.jpg");
    background-size: cover;
    background-position: center center;
    padding: vw(44) 0 vw(44) 0;
    color: #FFF;
    height: vw(680);

    @include mq() {
        background-image:  url("/assets/image/keep_your_skin_pc.jpg");
        padding: vwt(65) 0 vwt(74) 0;
        height: vwt(550);
    }
    @include mq(lg) {
        padding: px2Rem(125) 0 px2Rem(74) 0;
        height: px2Rem(550);
    }

    &__container {
        text-align: left;
        max-width: 1200px;
        display: flex;
        justify-content: flex-end;
        line-height: 1.3;
        margin-inline: auto;
        padding: 0 vw(16);
        @include mq() {
            padding: 0 vwt(91.4) 0 0;
        }
        @include mq(lg) {
            padding: 0 px2Rem(91.4) 0 0;
        }
    }

    &__title {
        text-align: center;
        font-weight: bold;
        @include mq() {
            text-align: left;
        }
        @include mq() {
        }
    }

    &__title-english {
        font-size: vw(30);
        font-family: 'EB Garamond', serif;
        line-height: 1.5;
        display: block;
        @include mq() {
            font-size: vwt(38);
            line-height: 1.42105263158;
        }
        @include mq(lg) {
            font-size: px2Rem(38);
        }
    }

    &__title-japanese {
        line-height: 1.3;
        font-size: vw(24);
        font-weight: normal;
        text-align: center;
        margin-bottom: vw(19);
        @include mq() {
            font-size: vwt(24);
            margin-bottom: vwt(20.1);
            text-align: left;
        }
        @include mq(lg) {
            font-size: px2Rem(24);
            margin-bottom: px2Rem(20.1);
        }
    }

    &__description {
        font-size: vw(14);
        line-height: 2.28571428571;
        letter-spacing: vw(-0.1);
        @include mq() {
            font-size: vwt(14);
            width: vwt(431.6);
            letter-spacing: 0;
            line-height: 2.28571428571;
        }
        @include mq(lg) {
            font-size: px2Rem(14);
            width: px2Rem(431.6);
        }
    }
}

/* お客様の声 */
.reviews {
    padding: vw(44) vw(13) vw(77.34) vw(13);
    line-height: 1.7;
    @include mq() {
        padding: vwt(94.2) 0 vwt(113.6) 0;
    }
    @include mq(lg) {
        padding: px2Rem(94.2) 0 px2Rem(113.6) 0;
    }
    &__is-active {
        display: block;
    }
    &__container {
        text-align: center;
        @include mq() {
            width: vwt(1156);
            margin-inline: auto;
        }
        @include mq(lg) {
            width: px2Rem(1156);
        }
    }

    &__title {
        @include mq() {
            line-height: 0.71111111111;
            margin-bottom: vwt(25);
        }
        @include mq(lg) {
            margin-bottom: px2Rem(25);
        }
    }

    &__title-english {
        font-size: vw(30);
        font-family: 'EB Garamond', serif;
        letter-spacing: vw(1.61);
        font-weight: bold;
        @include mq() {
            font-size: vwt(45);
            letter-spacing: vwt(2);
        }
        @include mq(lg) {
            font-size: px2Rem(45);
            letter-spacing: px2Rem(2);
        }
    }
    
    &__title-japanese {
        font-size: vw(16);
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: vw(0.8);
        font-family: 'EB Garamond', serif;
        margin-bottom: vw(40);
        @include mq() {
            font-size: vwt(20);
            margin-bottom: vwt(41.6);
            letter-spacing: vwt(0.8);
        }
        @include mq(lg) {
            font-size: px2Rem(20);
            margin-bottom: px2Rem(41.6);
            letter-spacing: px2Rem(0.8);
        }
    }

    &__name {
        font-size: vw(14);
        line-height: 2.4;
        margin-bottom: vw(4.6);
        @include mq() {
            font-size: vwt(15);
            margin: vwt(1.8) 0 0 0;
            line-height: 2.13333333333;
        }
        @include mq(lg) {
            font-size: px2Rem(15);
            margin: px2Rem(1.8) 0 0 0;
        }
    }

    &__customer-icon {
        width: 100%;
        width: vw(80);
        margin-inline: auto;
        @include mq() {
            width: vwt(100);
        }
        @include mq(lg) {
            width: px2Rem(100);
        }
    }

    &__items {
        max-width: vw(390);
        @include mq() {
            max-width: vwt(1156);
        }
        @include mq(lg) {
            max-width: px2Rem(1156);
        }
    }

    &__item {
        background-color: #DBF7F9;
        display: none;
        box-sizing: border-box;
        line-height:2;
        margin: 0 vw(10);
        padding: vw(28.85) vw(13) 0;
        @include mq() {
            padding: vwt(42.2) vwt(13) 0;
            line-height:1.75;
            margin: 0 vwt(25);
        }
        @include mq(lg) {
            padding: px2Rem(42.2) px2Rem(13) 0;
            line-height:1.75;
            margin: 0 px2Rem(25);
        }
    }

    &__review {
        font-size: vw(14);
        text-align: left;
        letter-spacing: vw(-0.2);
        line-height: 2;
        padding-left: vw(3.3);
        @include mq() {
            font-size: vwt(16);
            letter-spacing: 0;
            padding: 0 vwt(7);
            line-height: 1.75;
        }
        @include mq(lg) {
            font-size: px2Rem(16);
            padding: 0 px2Rem(7);
        }
    }

    &__dots {
        margin-top: vw(16);
        display: flex;
        justify-content: center;
        gap: vw(8);
        @include mq() {
            margin-top: vwt(16);
        }
        @include mq(lg) {
            margin-top: px2Rem(16);
        }
    }
    
    &__dot {
        width: vw(9);
        height: vw(9);
        border-radius: 50%;
        background-color: #ccc;
        display: block;
        margin: 0 vw(4);
        cursor: pointer;
        transition: background-color 0.3s;
        @include mq() {
            width: vwt(9);
            height: vwt(9);
            margin: 0 vwt(4);
        }
        @include mq(lg) {
            width: px2Rem(9);
            height: px2Rem(9);
            margin: 0 px2Rem(4);
        }
    }

    .slick-active &__dot {
        background-color: #00AFBF;
    }

    .slick-track {
        height: vw(340);
        @include mq() {
            height: vwt(388);
        }
        @include mq(lg) {
            height: px2Rem(388);
        }
    }
    
    .slick-slider {
        display: flex;
        position: relative;
        align-items: center;
    }

    &__arrow--left,
    &__arrow--right {
        width: vw(32);
        height: vw(32);
        cursor: pointer;
        @include mq() {
            width: vwt(55);
            height: vwt(55);
        }
        @include mq(lg) {
            width: px2Rem(55);
            height: px2Rem(55);
        }
    }

    .slick-dots {
        position:absolute;
        bottom: -10%;
        left: 50%;
        display: flex;
        transform: translate(-50%, -50%);
    }
}

/* Q&A */
.faq {
    background: linear-gradient(to right, #F4FFE8, #C6F0FE);
    padding: vw(30) vw(15) vw(13.07);
    margin-bottom: vw(50);
    @include mq() {
        padding: vwt(36.4) vwt(30) vwt(11.3) vwt(30);
        margin-bottom: vwt(48);
    }
    @include mq(lg) {
        padding: px2Rem(36.4) px2Rem(30) px2Rem(11.3) px2Rem(30);
        margin-bottom: px2Rem(48);
    }

    &__container {
        margin-inline: auto;
        @include mq() {
            width: vwt(600);
        }
        @include mq(lg) {
            width: px2Rem(600);
        }
    }

    &__title {
        text-align: center;
        font-family: 'EB Garamond', serif;
        @include mq() {
        }
        @include mq(lg) {
        }
    }

    &__title-english {
        font-size: vw(30);
        line-height: 1.5;
        display: block;
        font-weight: bold;
        letter-spacing: vw(1.6);
        padding-left: vw(1.1);
        @include mq() {
            font-size: vwt(45);
            letter-spacing: vwt(2.7);
        }
        @include mq(lg) {
            font-size: px2Rem(45);
            letter-spacing: px2Rem(2.7);
        }
    }

    &__title-japanese {
        font-size: vw(16);
        font-weight: 600;
        text-align: center;
        letter-spacing: vw(0.8);
        margin-bottom: vw(33.6);
        @include mq() {
            font-size: vwt(20);
            margin-bottom: vwt(35.2);
            letter-spacing: vwt(1);
        }
        @include mq(lg) {
            font-size: px2Rem(20);
            margin-bottom: px2Rem(35.2);
            letter-spacing: px2Rem(1);
        }
    }

    &__accordion {
        width: 100%;
        background: white;
        margin-bottom: vw(20.12);
        padding: vw(11.66) vw(10) vw(9.35) vw(17.4);
        @include mq() {
            margin-bottom: vwt(25);
            padding: 0 0 vwt(7.8) vwt(17.4);
        }
        @include mq(lg) {
            margin-bottom: px2Rem(25);
            padding: 0 0 px2Rem(7.8) px2Rem(17.4);
        }
    }
    
    &__accordion-trigger {
        width: 100%;
        display: flex;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s;
    }
    
    &__accordion-trigger[aria-expanded="true"] &__accordion-icon {
        transform: rotate(180deg);
    }
    
    &__accordion-content {
        max-height: 0;
        display: flex;
        padding: vw(11.44) 0 0 0;
        overflow: hidden;
        background-color: #FFF;
        line-height: 1.86666666667;
        transition: max-height 0.5s ease-in-out;
        @include mq() {
            padding: 0;
        }
        @include mq(lg) {
        }
    }
    
    &__accordion-content.open {
        max-height: vw(350);
        @include mq() {
            max-height: vwt(350);
        }
        @include mq(lg) {
            max-height: px2Rem(350);
        }
    }
    
    &__accordion-body {
        display: flex;
        padding: 0 0 vw(22.98) 0;
        @include mq() {
            padding: 0 0 vwt(14.8) 0;
        }
        @include mq(lg) {
            padding: 0 0 px2Rem(14.8) 0;
        }
    }
    
    &__accordion-icon {
        transition: transform 0.5s;
        width: vw(10);
        margin: 0 vw(8.7) vw(11.5) 0;
        @include mq() {
            width: vwt(12);
            margin: vwt(18.8) 0 vwt(8) vwt(63);
        }
        @include mq(lg) {
            width: px2Rem(12);
            margin: px2Rem(18.8) 0 px2Rem(8) px2Rem(63);
        }
    }

    &__question {
        display: flex
    }
    
    &__text--question {
        line-height: 1.86666666667;
    }

    &__text {
        display: block;

        &--q {
            font-size: vw(16);
            font-family: 'EB Garamond', serif;
            margin: 0 vw(10.4) vw(17.95) 0;
            font-weight: 500;
            @include mq() {
                font-size: vwt(18);
                margin: vwt(20.6) vwt(15.2) vwt(11.2) vwt(6.8);
            }
            @include mq(lg) {
                font-size: px2Rem(18);
                margin: px2Rem(20.6) px2Rem(15.2) px2Rem(11.2) px2Rem(6.8);
            }
        }
        &--a {
            font-size: vw(15);
            margin: vw(2.93) vw(10.83) 0 0;
            font-weight: 500;
            font-family: 'EB Garamond', serif;
            @include mq() {
                font-size: vwt(18);
                margin: vwt(3.2) vwt(16.4) 0 vwt(6.8);
            }
            @include mq(lg) {
                font-size: px2Rem(18);
                margin: px2Rem(3.2) px2Rem(16.4) 0 px2Rem(6.8);
            }
        }
        &--question {
            font-size: vw(15);
            font-weight: 500;
            @include mq() {
                font-size: vwt(15);
                letter-spacing: vwt(-0.1);
            }
            @include mq(lg) {
                font-size: px2Rem(15);
                letter-spacing: px2Rem(-0.1);
            }
        }
        &--answer {
            font-size: vw(15);
            line-height: 1.9;
            padding: 0 0 0 0;
            font-weight: 500;
            @include mq() {
                font-size: vwt(15);
                padding: 0 vwt(10) 0 0;
            }
            @include mq(lg) {
                font-size: px2Rem(15);
                padding: 0 px2Rem(10) 0 0;
            }
        }
    }
}

/* フッター */
.footer {
    color: #FFF;
    text-align: center;
    background-color: #0071CE;
    position: relative;
    @include mq() {
        padding: vwt(35) vwt(31.7) vwt(34) vwt(34);
    }
    @include mq(lg) {
        padding: px2Rem(35) px2Rem(31.7) px2Rem(34) px2Rem(34);
    }
    &__link {
    display: block;
    width: vw(163);
    margin-inline: auto;
    @include mq() {
        width: vwt(186);
    }
    @include mq(lg) {
        width: px2Rem(186);
    }
    }
    &__logo {
        width: 100%;
    }
    &__container {
        padding: vw(22.78) 0 vw(24) 0;
        @include mq() {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0;
        }
    }
    &__nav {
        @include mq() {
            padding-left: vwt(58.4);
        }
        @include mq(lg) {
            padding-left: px2Rem(58.4);
        }
    }
    &__nav-list {
        display: flex;
        justify-content: space-evenly;
        padding: vw(25.47) vw(11.33) vw(18);
        @include mq() {
            padding: 0;
        }
    }
    &__nav-link {
        font-size: vw(12);
        font-weight: normal;
        @include mq() {
            font-size: vwt(14);
        }
        @include mq(lg) {
            font-size: px2Rem(14);
        }
    }
    &__nav-link:hover {
        opacity: 0.9;
    }
    &__nav-item {
        @include mq() {
            padding: 0 vwt(32) 0 0;
        }
        @include mq(lg) {
            padding: 0 px2Rem(32) 0 0;
        }
    }
    &__copyright {
        font-size: vw(11);
        letter-spacing: vw(-0.5);
        padding-left: vw(24.60);
        @include mq() {
            font-size: vwt(12);
            letter-spacing: vwt(-0.6);
            padding-left: 0;
            padding-top: vwt(8.4);
        }
        @include mq(lg) {
            font-size: px2Rem(12);
            letter-spacing: px2Rem(-0.6);
            padding-top: px2Rem(8.4);
        }
    }
}

.pagetop {
    cursor: pointer;
    position: sticky;
    bottom: vw(1);
    left: 85.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(40);
    height: vw(40);
    transition: .3s;
    color: #00A6C4;
    background: #0071CE;
    border: 1px solid #0071CE;
    opacity: 0;
    padding:vw(13);
    @include mq() {
        width: vwt(40);
        height: vwt(40);
        padding:vwt(13);
        left: 87.3%;
    }
    @include mq(lg) {
        width: px2Rem(40);
        height: px2Rem(40);
        padding:px2Rem(13);
    }
    &:hover {
        opacity: 0.1;
    }
    &__img {
        width: 100%;
    }
}